@model AirStore.Models.Air

@{
    ViewData["Title"] = "Details";
}

<h2>Buy</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="well well-lg">
            <div>
                <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                <span>@Html.DisplayFor(model => model.Name)</span>
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Type)</strong>
                <span>@Html.DisplayFor(model => model.Type)</span>
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Price)</strong>
                <span>@Html.DisplayFor(model => model.Price)</span>
            </div>
        </div>

        <form asp-action="Buy" asp-route-id="@Model.Id">
            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index" asp-controller="Air">Back to List</a>
